{{> head}}

    {{> navbar}}
    
    <div class="row">
        <div class="col-md-8"><h1>T&iacute;tulo</h1></div>
        <div class="col-md-4"><img class="img-thumbnail" src="assets/img/thumbnail.png"></div>
    </div>

    {{> footer}}